@model P.Proyect.Models.LICENCIA

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de </h2>

<div>
    <h4>Licencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Desde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADOS.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADOS.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Licencia }) |
    @Html.ActionLink("Volver atras", "Index")
</p>
